split-objs: True
constraints: MonadRandom ==0.4.2.3,
             appar ==0.1.4,
             array ==0.5.1.0,
             async ==2.1.0,
             atomic-primops ==0.8.0.4,
             attoparsec ==0.13.0.2,
             auto-update ==0.1.4,
             base ==4.8.2.0,
             base16-bytestring ==0.1.1.6,
             base64-bytestring ==1.0.0.1,
             binary ==0.7.5.0,
             blaze-builder ==0.4.0.2,
             bson ==0.3.2.1,
             byteable ==0.1.1,
             byteorder ==1.0.4,
             bytestring ==0.10.6.0,
             bytestring-builder ==0.10.8.1.0,
             case-insensitive ==1.2.0.6,
             cipher-aes ==0.2.11,
             containers ==0.5.6.2,
             cprng-aes ==0.6.1,
             crypto-cipher-types ==0.0.9,
             crypto-random ==0.0.9,
             cryptohash ==0.11.9,
             cryptonite ==0.15,
             data-binary-ieee754 ==0.4.4,
             deepseq ==1.4.1.1,
             directory ==1.2.2.0,
             filepath ==1.4.0.0,
             ghc-prim ==0.4.0.0,
             hashable ==1.2.4.0,
             hashtables ==1.2.1.0,
             http-date ==0.0.6.1,
             http-types ==0.9,
             http2 ==1.6.0,
             integer-gmp ==1.0.0.0,
             iproute ==1.7.0,
             lifted-base ==0.2.3.6,
             memory ==0.13,
             monad-control ==1.0.1.0,
             mongoDB ==2.0.10,
             mtl ==2.2.1,
             network ==2.6.2.1,
             nonce ==1.0.2,
             parsec ==3.1.11,
             pretty ==1.1.2.0,
             primitive ==0.6.1.0,
             process ==1.2.3.0,
             prometheus ==0.3.2.1,
             psqueues ==0.2.2.1,
             random ==1.1,
             random-shuffle ==0.0.4,
             rts ==1.0,
             scientific ==0.3.4.6,
             securemem ==0.1.9,
             semigroups ==0.18.1,
             simple-sendfile ==0.2.24,
             stm ==2.4.4.1,
             streaming-commons ==0.1.15.5,
             tagged ==0.8.4,
             template-haskell ==2.10.0.0,
             text ==1.2.2.1,
             time ==1.5.0.1,
             transformers ==0.4.2.0,
             transformers-base ==0.4.4,
             transformers-compat ==0.5.1.4,
             unix ==2.7.1.0,
             unix-compat ==0.4.1.4,
             unordered-containers ==0.2.7.0,
             vault ==0.3.0.6,
             vector ==0.11.0.0,
             wai ==3.2.1.1,
             warp ==3.2.6,
             word8 ==0.1.2,
             zlib ==0.6.1.1
